:root {
    --main-white: #FFFFFF;
    --sec--grey: #C0C0C0;
    --button-blue: #167BF7;
    --desk-background: #00030C;
    --main-font: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--desk-background);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__title{
    font-size: 28px;
    font-weight: 700;
}

.main{
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.aluraPlusbtn{
    color: var(--main-white);
    background-color: var(--button-blue);
    border-radius: 5px;
    padding: 16px;
    gap: 16px;
    display: block;
}

.aluraBtn{
    color: var(--main-white);
    background-color: transparent;
    border-radius: 5px;
    padding: 16px;
    gap: 16px;
    border: 2px solid var(--main-white);
    display: block;
}

.textP{
    color: var(--sec--grey);
    font-size:12px;
}