:root {
    --main-white: #FFFFFF;
    --sec--grey: #C0C0C0;
    --button-blue: #167BF7;
    --desk-background: #00030C;
    --main-font: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--desk-background);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.box{
    margin: 0 6em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container__title{
    font-size: 28px;
    font-weight: 700;
}

.container__img{
    margin: 1em 0 2em 0;
}

.main{
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.aluraPlusbtn{
    color: var(--main-white);
    background-color: var(--button-blue);
    border-radius: 5px;
    padding: 16px;
    gap: 16px;
    display: block;
    margin-bottom: 1em;
    width: 90%;
}

.aluraBtn{
    color: var(--main-white);
    background-color: transparent;
    border-radius: 5px;
    padding: 16px;
    gap: 16px;
    border: 2px solid var(--main-white);
    display: block;
    margin-bottom: 1em;
    width: 90%;
}

.textP{
    color: var(--sec--grey);
    font-size:12px;
}

.sec{
    margin: 0 10em;
    align-items: center;
}

.sec__img{
    width: 80%;
}

.desc__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.desc__text{
    color: var(--sec--grey);
}